.jqiwarning .jqi{
      background-color: #ff0000;
}
.jqifade{
      background-color: #000000;
}
div.jqi{
      position: absolute;
      border-top: 4px solid #333333;
      border-bottom: 4px solid #333333;
      background-color: #999999;
      padding: 2px;
      width: 300px;
}
div.jqi .jqiclose{
      float: right;
      margin: -35px -10px 0 0;
      cursor: pointer;
}
div.jqi .jqicontainer{
      background-color: #aaaaaa;
      padding: 5px;
      color: #000000;
}
div.jqi .jqimessage{
      background-color: #cccccc;
      padding: 10px;
}
div.jqi .jqibuttons{
      text-align: center;
      padding: 5px 0 0 0;
}
div.jqi button{
      padding: 3px 10px 3px 10px;
      margin: 0 10px;
} 